.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid rgb(223, 223, 223);
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #ffecec;
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr:hover {
    background-color: #dddddd;
}
